<div class="container">
    <div class="row">
        <h1>My Interview Portal</h1>
        <hr>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">{{nameOfTest}} - Result</div>
                <div class="card-body" style="text-align: center;">
                    <div>
                        <h2 class="">Total no of Questions: {{numberOfQuestions}}</h2>
                        <h3 class="text-success">Correct Answers: {{correctAnswer}}
                            <span class="text-danger">Wrong Answers: {{wrongAnswer}}</span>
                        </h3>
                        <button class="btn btn-primary mt-2" routerLink="/home">Back to home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>